body {
  font-family: 'Josefin Sans';
  background-color: #FFFAFB;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  z-index: 10;
}

.right-arrow {
  right: 140px;
}

.left-arrow {
  right: 80px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
}

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
    z-index: 10;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
}

.horizontal-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.horizontal-scroll-wrapper {
  display: flex;                
  overflow-x: auto;             
  white-space: nowrap;          
  scroll-behavior: smooth;      
  -webkit-overflow-scrolling: touch; 
  padding-bottom: 20px; /* Kaydırma çubuğunu aşağıya almak için alt boşluk ekliyoruz */
}

.horizontal-scroll-item {
  display: inline-block;        
  margin: 0 10px;               
  flex-shrink: 0;               
}

/* Kaydırma çubuğunun genişliğini ayarlayın */
::-webkit-scrollbar {
  height: 12px; /* Yatay kaydırma çubuğunun yüksekliğini arttırın */
}

/* Kaydırma çubuğunun renk ve stilini ayarlayın */
::-webkit-scrollbar-thumb {
  background-color: #FF2625; /* Kaydırma çubuğu rengi */
  border-radius: 10px; /* Yuvarlak köşeler */
  border: 3px solid #FFFAFB; /* Kaydırma çubuğu çevresinde boşluk ve arka plan rengi */
}

/* Kaydırma çubuğu arka planı */
::-webkit-scrollbar-track {
  background-color: #FFFAFB; /* Arka plan rengi */
  border-radius: 10px;
}
